.idea/
.gradle/
classes/
build/
logs/
mods/
out/
*.iml
*.ipr
*.iws
*changelog.txt
README.txt
bin/
*.hprof

# Exclude all Mac DS_Store files
/**/.DS_Store

# Exclude all Windows stuff
/**/Thumbs.db

# Eclipse stuff
.settings/
.project
.classpath
.vscode/
*.launch

tools/.api_key

run**